*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea/*
stable-maching.iml
stable-maching.ipr

# Scala-IDE specific
.scala_dependencies
.worksheet
.gradle/
.idea/
build/
